In [1]:
a = ["hello", [1,2,3], 3.14, (4,5,6)]

In [2]:
a

['hello', [1, 2, 3], 3.14, (4, 5, 6)]

In [8]:
print (a)

['hello', [1, 2, 3], 3.14, (4, 5, 6)]

In [16]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [19]:
a=10
b=3
c=a/b
print(c)

3.3333333333333335

In [20]:
a=10
b=3
c=a%b
print(c)

1

In [21]:
a=10
b=3
c=a//b
print(c)

3

In [22]:
a=10
b=3
c=a**b
print(c)

1000

In [29]:
a= [42,"Hello", 3.14, True, [1,2,3],("apple", "banana"), 5+2j, False]
for element in a:
    print(element,type(element))

42 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
('apple', 'banana') <class 'tuple'>
(5+2j) <class 'complex'>
False <class 'bool'>

In [4]:
a=100
b=4
count=0
while a%b==0:
    a/=b
    count +=1
print("Number of times a can be divided by b:",count)

Number of times a can be divided by b: 1

In [6]:
a= list(range(1,26))
for element in a:
    if element % 3 ==0:
        print(element,"is divisible by 3")
    else:
        print(element,"not divisible by 3")

1 not divisible by 3
2 not divisible by 3
3 is divisible by 3
4 not divisible by 3
5 not divisible by 3
6 is divisible by 3
7 not divisible by 3
8 not divisible by 3
9 is divisible by 3
10 not divisible by 3
11 not divisible by 3
12 is divisible by 3
13 not divisible by 3
14 not divisible by 3
15 is divisible by 3
16 not divisible by 3
17 not divisible by 3
18 is divisible by 3
19 not divisible by 3
20 not divisible by 3
21 is divisible by 3
22 not divisible by 3
23 not divisible by 3
24 is divisible by 3
25 not divisible by 3

In [7]:
a=(1,2,3)
print(a)

(1, 2, 3)

In [23]:
a=(1,2,3)
a[0]=4
print(a)

#Tuples are immutable,once value is assigned it can not be changed.

TypeError: 'tuple' object does not support item assignment

In [22]:
a=[1,2,3]
a[0]=4
print(a)

# list is mutable, there values can be changed.

[4, 2, 3]