Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
a = ["hello",1,2,3, [1,2,3], 3.14, (4,5,6)]
a

['hello', 1, 2, 3, [1, 2, 3], 3.14, (4, 5, 6)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [2]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
a=10
b=3
c=a/b
print(c)

3.3333333333333335

In [4]:
a=10
b=3
c=a%b
print(c)

1

In [5]:
a=10
b=3
c=a//b
print(c)

3

In [6]:
a=10
b=3
c=a**b
print(c)

1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [5]:
a= [42,"Hello", 3.14, True, [1,2,3],("apple", "banana"), 5+2j, 2+6j,5, False]
for element in a:
    print(element,type(element))

42 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
('apple', 'banana') <class 'tuple'>
(5+2j) <class 'complex'>
(2+6j) <class 'complex'>
5 <class 'int'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
a=100
b=4
count=0
while a%b==0:
    a/=b
    count +=1
print("Number of times a can be divided by b:",count)

Number of times a can be divided by b: 1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
a= list(range(1,26))
for element in a:
    if element % 3 ==0:
        print(element,"is divisible by 3")
    else:
        print(element,"not divisible by 3")

1 not divisible by 3
2 not divisible by 3
3 is divisible by 3
4 not divisible by 3
5 not divisible by 3
6 is divisible by 3
7 not divisible by 3
8 not divisible by 3
9 is divisible by 3
10 not divisible by 3
11 not divisible by 3
12 is divisible by 3
13 not divisible by 3
14 not divisible by 3
15 is divisible by 3
16 not divisible by 3
17 not divisible by 3
18 is divisible by 3
19 not divisible by 3
20 not divisible by 3
21 is divisible by 3
22 not divisible by 3
23 not divisible by 3
24 is divisible by 3
25 not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

MUTABLE DATA TYPE : A mutable object can be changed according to indexing after it is created.
Ex: list,set,dict

IMMUTABLE DATA TYPE : An immutable object can not be changed according to indexing after it is created
Ex: tuples, int, float, bool

In [10]:
a=[1,2,3,4,5]
a[0]=4
print(a)

[4, 2, 3, 4, 5]

In [2]:
a=(1,2,3,4,5)
a[0]=4
print(a)

TypeError: 'tuple' object does not support item assignment


##Tuples are immutable,once value is assigned it can not be changed.